@import url("../../theme/index.css");

#table-container {
	width: fit-content;
	.table {
		background-color: var(--color-white);
		width: 100%;

		border-collapse: collapse;

		font-variant-numeric: lining-nums tabular-nums;
		text-align: start;
		vertical-align: top;
		line-height: var(--line-height-moderate);

		/* thead*/
		th {
			text-transform: capitalize;
			font-weight: semibold;
			font-size: var(--font-size-sm);
			color: var(--color-gray_500);
			background-color: var(--color-gray_100);
			border-bottom: 1px solid var(--color-gray_100);

			&.th-divisable {
				border-right: 1px solid var(--color-gray_200);
			}
			&.th-sortable {
				display: flex;
				align-items: center;
				gap: 1rem;

				.th-sortable-button {
					display: flex;
					place-content: center;
					background: none;
					border: none;
					padding: 0;
					margin: 0;
					cursor: pointer;
					svg {
						width: 1rem;
						height: 1rem;
						stroke: var(--color-gray_500);
					}
				}
			}
		}

		/* tbody*/

		tbody {
			tr {
				&.tr-clickeable {
					cursor: pointer;
					&:hover {
						background-color: var(--color-gray_50);
					}
				}
				&.tr-disabled {
					opacity: 0.5;
					background-color: var(--color-gray_100);
				}
			}
		}

		td {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: break-spaces;

			&.td-empty {
				border-color: transparent;
				text-align: center;

				p {
					color: var(--color-gray_500);
					font-size: var(--font-size-sm);
				}
			}
		}

		/* both */
		tr {
			border-collapse: collapse;
			table-layout: fixed;
			width: 100%;

			&:not(:last-child) {
				border-bottom: 1px solid var(--color-gray_200);
			}
		}

		td,
		th {
			text-align: start;
			align-items: center;

			width: auto;
			min-width: 60px;
			max-width: 400px;

			padding-inline: 0.75rem;
			padding-block: 0.75rem;
		}
	}

	.table-pagination {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		width: auto;
		padding-inline: 0.75rem;
		padding-block: 1.75rem;

		p {
			margin-block: 0;
		}

		label {
			flex: 2;
			align-self: stretch;
			padding-left: 1rem;
			border-left: 1px solid var(--color-gray_200);
			select {
				height: stretch;
				margin-inline-start: 0.5rem;
				border: 1px solid var(--color-gray_200);
				border-radius: 0.25rem;
			}
		}

		& > div {
			display: flex;
			justify-content: center;
			align-items: stretch;
			gap: 0.5rem;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--color-white);
				border: 1px solid var(--color-gray_200);
				border-radius: 0.25rem;
				padding-inline: 0.5rem;
				padding-block: 0.25rem;

				cursor: pointer;

				svg {
					width: 1rem;
					height: 1rem;
					stroke: var(--color-gray_500);
				}

				&[disabled] {
					cursor: not-allowed;
					svg {
						stroke: var(--color-gray_300);
					}
				}
			}
		}
	}
	.table-filter {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
		flex-wrap: wrap;

		width: 100%;

		padding-block: var(--space-4);
	}
}
